<div class="row">
  <div class="row">



    <div class="container">
      <form #f="ngForm" (ngSubmit)="addTransaction(transaction)">
        <div class="row" class="col-md-6">
          <input name ="account_id" type="number" required  ngModel #a="ngModel" placeholder="Account Id" [(ngModel)]="transaction.account_id" >
        </div>
        <div class="alert alert-danger" *ngIf="a.invalid && a.touched">the account id transfering from is a required field </div>

        <div class="row" class="col-md-6">
          <input name ="account_id" type="number" required  ngModel #a="ngModel" placeholder="Account Id" [(ngModel)]="transaction.account_id" >
        </div>
        <div class="alert alert-danger" *ngIf="a.invalid && a.touched">the account id transfering to is a required field </div>


        <div class="row" class="col-md-6">
          <input  required   placeholder="transaction type" ngModel #a="ngModel"  [(ngModel)]="transaction.transaction_type==transfer" >
        </div>

        <div class="row" class="col-md-6">
          <input name ="amount" type="number" required  ngModel #am="ngModel" placeholder="Amount"[(ngModel)]="transaction.amount">
        </div>
        <div class="alert alert-danger" *ngIf="am.invalid && am.touched">amount is a required field </div>

        <div class="row" class="col-md-6">
          <input name ="source" type="text" required  ngModel #s="ngModel" placeholder="Source"[(ngModel)]="transaction.source==source">
        </div>


        <div class="row" class="col-md-6" *ngIf="transaction.status==success">
          <input name ="status" type="text" required  ngModel #st="ngModel" placeholder="Status"[(ngModel)]="transaction.status">
        </div>
        <div class="row" class="col-md-6" *ngIf="transaction.status==failed">
          <input name ="status" type="text" required  ngModel #st="ngModel" placeholder="Status"[(ngModel)]="transaction.status">
        </div>


        <div class="row" class="col-md-6" *ngIf="transaction.reason_code!=TransferSuccessful">
          <input name ="reason_code" type="text" required  ngModel #rc="ngModel" placeholder="reason_code"[(ngModel)]="transaction.reason_code==InsufficientFund">
        </div>


        <div class="row" class="col-md-6">
          <input name ="created_at" type="text" required  ngModel #ca="ngModel" type="datetime-local" placeholder="created at"[(ngModel)]="transaction.created_at==created_at">
        </div>





        <br>
        <button type="submit" class="btn btn-success" [disabled]="f.invalid" >Add</button>
        <button type="button" class="btn btn-info"  >Cancel</button>
      </form>
    </div>

  </div>
</div>




